{% extends 'base/kernel-ci-base.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block main %}
{{ super() }}
{% endblock %}
{% block actions %}
actions:
  - deploy:
      timeout:
        minutes: 30
      to: tftp
      kernel:
        url: {{ kernel_url }}
      os: oe

  - boot:
      timeout:
        minutes: 30
      method: depthcharge
      commands: emmc
      prompts:
        - 'sof-audio-pci'  # ToDo: make a parameter

  - test:
      timeout:
        minutes: 45
      docker:
        image: kernelci/chromeos-tast  # ToDo: make a parameter
        volumes:
          - /tmp/octopus:/home/cros-tast/octopus  # ToDo: make a parameter
        wait:
          device: true
      results:
          location: /home/cros-tast/lava
      definitions:
      - repository:
          metadata:
            format: Lava-Test Test Definition 1.0
            name: docker-chromeos-tast
          run:
            steps:
              # ToDo: make a parameter for the tarball URL
              - 'cd /home/cros-tast; curl -s http://172.17.0.1/chromeos/autotest_server_package_octopus_R92_13981.0.0.tar.bz2 | tar xjf -'
              - 'chown -R cros-tast: /home/cros-tast'
              - 'ls -l /home/cros-tast'
              - 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i /home/cros-tast/.ssh/id_rsa root@$(lava-target-ip) whoami'
              - 'cd /home/cros-tast/tast; ./tast list -build=false root@$(lava-target-ip)'
        from: inline
        name: docker-chromeos-tast
        path: inline/docker-chromeos-tast.yaml
{% endblock %}
